
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Login</h2>
  <form [formGroup]="LoginForm" id="login-form">
    <p>
    <input type="text"  formControlName="Email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="email"  formControlName="Password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      
    <input type="submit"  value="Login" (click)="login()">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="#">Create Account</a><p>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->