/********************** Variables *******************/
$font-color: #1a1a1a;
$white-color:#fff;
$grey-color: #ccc;
$link-color: #1157ac;

$headline-color: #2f6f7c;

$box-shadow: 0 3px 6px rgbs(#000, 0.05);

$body-bg-color: #f7f7f7;

/****** Buttonn Variables ********/
$primary-button-color: #2f6f7c;
$primary-button-font-color: #2f6f7c;
$button-focus-color: #2f6f7c;
$secondary-button-font-color: #2f6f7c;
$secondary-button-color: #2f6f7c;
$secondary-button-font-color: #2f6f7c;

/******* Table Variables ************/

/************  Input Variables **********/


/************************ // End Variables **********************/